.myBody{
    background-color: rgba(53, 7, 7, 0.644);
    min-height: 850px;
}
.formInput{
    width: 50%;
}
.img404{
    position: relative;
}
.img404 h1{
    position: absolute;
    top: 50%;
    left: 50%;
}
.img404 img{
    width: 100%;
}